#model_viewport {
  height: 480px;
  width: 720px;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("assets/imgs/bg.jpg");
  background-repeat: repeat-y;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
  background-color: #333;

}

.main-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.main-menu a:hover {
  background-color: #555;
}

.content {
  margin-left: 200px; /* Ширина бокового меню */
  padding: 20px;
}

main
{
  display: flex;
  flex-direction: collumn;
  justify-content: center;
  align-items: center;
}